.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.search::placeholder {
  color: cadetblue;
  font-size: medium;
}

.search {
  color: cadetblue;
  font-size: medium;
}
